body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#image_holder {
    width: 300px;
    height: 300px;
}
#me{
    width:300px;
    height: 300px;
    border-radius: 100%;
    position:absolute;
    left:calc(50% - 150px);
    filter: blur(10px) grayscale(50%);

}
#center{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    vertical-align: center;
    margin-top: 100px;
}
div {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}
.name{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2.25em;
    vertical-align: middle;
}
#roles{
    font-weight: 100;
    color: rgb(112,128,143);
}
h1{
    font-weight: 900;
    color: slategrey;
    font-size:2.25em;
}
.leftquestion{
    margin-left: 10%;
    margin-right:50%;
    width: 40%;
    text-align: left;
}
.leftresponse{
    margin-left: 10%;
    margin-right:50%;
    width: 40%;
    text-align: left;
}
.rightquestion{
    margin-right: 10%;
    margin-left:50%;
    width:40%;
    text-align: right;
}
.rightresponse{
    margin-right:10%;
    margin-left:50%;
    width:40%;
    text-align: right;
}

mark{
    background-color:rgba(0,0,0,0);
    color: rgb(112,128,143);
}
a{
    color: darkslategray;
}
a:hover{
    color: dimgray;
}
p{
    font-size:180%;
}
footer{
    background-color: rgba(112,128,143,0.3);
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    float:bottom;
    padding-top:5px;
    padding-bottom:5px;
    width: 100%;
}
#inlogo{
    width: 42px;
    height: 36px;
    vertical-align: middle;
}
#gitlogo {
    width: 42px;
    height: 42px;
    vertical-align: middle;
}
#maillogo {
    width: 42px;
    height: 42px;
    vertical-align: middle;
}
.logo:hover{
    opacity: 0.75;
}
#mylogo{
    position:absolute;
    left:calc(50% - 150px);
    width: 300px;
    height: 300px;
    border-radius:100%;
}



